doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1.0")
		meta(name="robots", content="noindex, follow")
		title Service not available
		style
			include style.min.css
		link(rel="icon", type="image/x-icon", sizes="16x16", href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAGFBMVEWfn5+srKy6urrFxcXU1NTc3Nzx8fH+/v740GSHAAAAVklEQVQI12NggAH2cjAoYGBPYC0vZTCHMAoZzSAMA2YxEIOljEGZDcwoZDQAM1gdmAMgIgLiDmCGEkM4hGHIVA5mJCmwQRjFDOFQEeHy8kC1AoSlMAAAgPgbO6PPUDAAAAAASUVORK5CYII=")
	body
		main
			h1 This service is currently unavailable.
			p If you think this must be a mistake, please let us know.
			p We are sorry for any inconvenience this may have caused.
		footer
			a(href="http://finnoconsult.at/")
				div
					include logo-finnoconsult.svg
				=	"FInnoConsult GmbH"
			a(href="http://trinn.consulting/")
				div
					include logo-trinn.svg
				=	"TRINN Consulting GmbH"
			i.sorry
