* {
	box-sizing: border-box;
}
html {
	height: 100%;
	background: #f2f4f6;
	color: rgb(35,31,32);
	font: 400 16px/1.25 sans-serif;
}
body {
	position: relative;
	min-height: 100%;
	margin: 0;
	padding: 8em 2em;
}
main {
	display: block;
	margin: 0 0 4em;
}
main::before,
main::after {
	position: absolute;
	top: 1rem;
	left: 2rem;
	color: rgba(35,31,32,.4);
}
main::before {
	content: "oops-a-daisy";
	font-family: serif;
	font-size: 200%;
}
main::after {
	content: "/ˈʊp.səˌdeɪ.zi/";
	margin-top: 2em;
	font-size: 125%;
}
h1 {
	font-size: inherit;
	font-weight: 700;
}
h1,
p {
	display: inline;
}
h1::after {
	content: " ";
}
a {
	display: block;
	margin: 1px -2em;
	padding: 2em 2em 2em 1.5em;
	background: #fff;
	border-left: .5em solid rgb(0,189,89);
	color: inherit;
	text-decoration: none;
}
a::after {
	content: attr(href);
	display: block;
	margin-top: 1ex;
	color: rgb(0,189,89);
	font-size: 87.5%;
}
svg {
	max-width: 100%;
	margin-bottom: 1em;
	overflow: visible;
}
@media (min-width: 25em) {
	main {
		padding: 0 2em;
	}
	main,
	a {
		width: 20em;
		margin-right: auto;
		margin-left: auto;
	}
}
body::before {
	content: "";
	box-sizing: content-box;
	position: absolute;
	right: 0;
	bottom: 0;
	height: 0;
	width: 0;
	border: 0 solid transparent;
	border-right-color: rgb(0,189,89);
	border-width: 9.7148279em 6em 0 0;
}
